.header{
    display: flex;
    background-color: #DA001E;
    border: 0.5em solid #151217;
    padding: 1em;
    align-items: center;
    justify-content: space-around;
}

.header img{
    width: 10em;
    border-radius: 100%;
}


.navbar a, .navbar ul{
    font-size: 1.3em;
    display: flex;
    gap: 1em;
    list-style-type: none;
    text-decoration: none;
    color: #F9D0A3;
}

.navbar a:hover{
    color: #151217;
}
#panier{
    margin-left: 0.5em;
}
.fa-solid {
    font-size: 2em;
    color: #FDD90B;
}