.navbar{
    background-color: #DA001E !important;
    border: 0.5em solid #151217;
    padding: 1cm;
}

.container-fluid img {
    width: 10em;
    border-radius: 30%;
    flex-wrap: wrap;
    border: 6px solid #FDD90B;
    margin-left: 2em;
}
.container-fluid {
    display: flex;
    gap: 1em;
}

#navbarNav {
    flex-direction: row-reverse;
    margin-right: 2em;
}

button{
    border: 1px solid #F9D0A3;
}

.nav-item a,.nav-item ul{
    font-size: 1.3em;
    display: flex;
    gap: 1em;
    list-style-type: none;
    text-decoration: none;
    color: #F9D0A3;
}
.nav-item a:focus{
    color: #151217;
}