.footer{
    display: flex;
    color: #F9D0A3;
    background-color: #DA001E;
    border: 0.5em solid #151217;
    padding: 1em;
    justify-content: space-around;
}

.footer a{
    color: #F9D0A3;
    text-decoration: none;
}

.footer_column {
    display: flex;
    flex-direction: column;
}


.footer_column p{
    margin-top: 10px;
}

.image{
    width: 97%;
    display: flex;
    justify-content: flex-end;
}
#chien{
    width: 9em;
}
.reseaux i{
    font-size: 2em;
    margin-right: 10px;
    
}