<div class="image">
    <img id="chien" src="/Idefix.webp">
</div>
<footer class="footer">    
    <div class="footer_column">
        <h4><u>Au petit village</u></h4>
        <p>01.12.13.14.15</p>
        <p>Pour nous contacter, c'est par <a routerLink="/Contact">ici</a> !</p>
        <div class="reseaux">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
    </div>
    <div class="footer_column">
        <h4><u>Liens utiles</u></h4>
        <a routerLink="/"><p>ACCUEIL</p></a>
        <a routerLink="/APropos"><p>A PROPOS</p></a>
        <a routerLink="/Contact"><p>CONTACT</p></a>
    </div>
    <div class="footer_column">
        <h4><u>Boutique</u></h4>
        <a routerLink="/Panier"><p>PANIER</p></a>
    </div>

</footer>
