body{
    width: 100%;
}
.entreprise{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    align-items: center;
}
#perso{
    width: 97%;
    margin: 0.5em 2em;
}
h3{
    text-align: center;
}
