<div class="a-propos">
    <div class="a-propos-texte">
        <h2><u><b>Au petit village</b></u></h2>
        <h3>Boutique en ligne de figurine peinte à la main de la célèbre bande dessinée Astérix et Obélix.</h3>
        Bienvenue sur notre boutique en ligne spécialisée dans les figurines de BD, particulièrement celles de nos très chers gaulois.
        Au départ passionnés par cet univers, nous avons décider de créer notre boutique en ligne afin de vous la partager.
        Notre objectif est de fournir à nos clients les meilleurs produits disponibles sur le marché, en mettant l'accent sur la qualité et l'authenticité.
        
    </div>
    <img src="/village.png">
</div>

