.filterBar{
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
    margin-right: 1em;
    align-items: center;
}
.filterBar>button{
    background-color: aqua;
    border-radius: 50%;
}

.catalogue{
    display: flex;
}

.img{
    width:15em ;
}

.produits{
    border: 0.5em solid black;
    margin: 1em;
    padding: 1em;
    background-color: #fdd90b8e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p {
    display: flex;
    
}