<div class="filterBar">
    Prix :
    <button (click)="setOrder('asc')">par ordre Croissant</button>
    <button (click)="setOrder('desc')">par ordre Décroissant</button>
</div>

<div class="catalogue">
    <div *ngFor ="let produit of ( produits | sortByPrice:sortOrder) " class="produits">
            <img class="img" src={{produit.image}} />
            <h3>{{ produit.titre}}</h3>
            <p><u><b>Déscription : </b></u> {{ produit.description }}</p>
            <p><u><b>Dimension : </b></u> {{ produit.dimension}}</p>
            <p><u><b>Matière : </b></u> {{ produit.matiere}}</p>
            <p><u><b>Prix : </b></u>{{ produit.prix }} €</p>
            <button [routerLink]=" ['/produits', produit.id ]">Voir produit</button>
    </div>
</div>