.catalogue{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    margin: 3em 0 3em 0;
}

.card{
    border: 0.5em solid #151217;
    background-color: #FDD90B;
    opacity: 80%;
}
.produit{
    display: flex;
    justify-content: center;
}
.size{
    width: 14em;
    margin: 1em;
    display: flex;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

