<div class="catalogue">
    <div class="card" style="width: 18rem;">
      <div class="produit">
        <img src="/produit_1.png" class="card-img-top">
      </div>
    <div class="card-body">
      <h5 class="card-title">Astérix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
      <a routerLink="/APropos"><button>En savoir plus</button></a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="produit">
      <img src="/produit_2.png" class="card-img-top">
    </div>
    <div class="card-body">
      <h5 class="card-title">Idéfix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
      <a routerLink="/APropos"><button>En savoir plus</button></a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="produit">
      <img src="/produit_3.webp" class="card-img-top size">
    </div>
    <div class="card-body">
      <h5 class="card-title">Obélix & Idéfix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
      <a routerLink="/APropos"><button>En savoir plus</button></a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="produit">
      <img src="/produit_4.webp" class="card-img-top size">
    </div>
    <div class="card-body">
      <h5 class="card-title">Panoramix & Obélix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
      <a routerLink="/APropos"><button>En savoir plus</button></a>
    </div>
  </div>
</div>

