

<div class="catalogue">
    <div class="card" style="width: 18rem;">
    <img src="/produit_1.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Astérix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/produit_2.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Idéfix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/produit_3.webp" class="card-img-top size">
    <div class="card-body">
      <h5 class="card-title">Obélix & Idéfix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/produit_4.webp" class="card-img-top size">
    <div class="card-body">
      <h5 class="card-title">Panoramix & Obélix</h5>
      <p class="card-text">Figurine peinte à la main.</p>
    </div>
  </div>
</div>

